.pastel {
  background-image: linear-gradient(
      90deg,
      rgba(71, 86, 255, 0.641),
      rgba(174, 235, 255, 0.559)
    ),
    url(../../assets/img/pastel.jpg);
  background-size: cover;
  min-height: 100%;
}
.img-contained {
  max-height: 500px;
  max-width: 500px;
  display: contain;
  margin: 0 auto;
}
.comment {
  display: flex;
  font-weight: bold;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  z-index: 0;
}

.card-body {
  z-index: 0;
}
