<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero pastel">
      <!-- Background circles -->
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
              <h2 class="lead text-white">
                Support from friends and family improves recovery.
              </h2>
              <hr />
              <p class="sub-tag">
                Hope35 creates custom t-shirts and a unique online platform for
                their support team to share photos and words of encouragement.
              </p>
              <div class="btn-wrapper">
                <a
                  (click)="scroll(target)"
                  class="btn btn-md btn-white btn-icon mb-3 mb-sm-0"
                >
                  <span class="btn-inner--icon"
                    ><i class="ni ni-cloud-download-95"></i
                  ></span>
                  <span class="btn-inner--text">Get Started</span>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <carousel
                [objectFit]="'cover'"
                [cellWidth]="'100%'"
                [height]="400"
                [autoplay]="true"
                [dots]="true"
                [loop]="true"
                [arrows]="true"
                [autoplayInterval]="5000"
                [transitionTimingFunction]="ease - in - out"
                [transitionDuration]="1000"
                class="carrot-card"
              >
                <div class="carousel-cell">
                  <img src="../../assets/img/ash3.jpeg" />
                </div>

                <div class="carousel-cell">
                  <img src="../../assets/img/smoker1.jpg" />
                </div>

                <div class="carousel-cell">
                  <img src="../../assets/img/smoker5.jpg" />
                </div>
                <div class="carousel-cell">
                  <img src="../../assets/img/ash4.jpeg" />
                </div>
                <div class="carousel-cell">
                  <img src="../../assets/img/tashley1.jpeg" />
                </div>
                <div class="carousel-cell">
                  <img src="../../assets/img/smoker4.jpg" />
                </div>
              </carousel>
            </div>
          </div>
        </div>
      </div>
      <span #target class="hide"></span>
    </section>
  </div>

  <!-- start section -->

  <section class="section section-lg pt-lg-0 marginton">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="
                      icon icon-shape icon-shape-primary
                      rounded-circle
                      mb-4
                    "
                  >
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Real Benefits</h6>
                  <p class="description mt-3">
                    We believe that when supporters purchase, wear, and share
                    pictures in their t-shirts they are showing their love and
                    support for the person in need. We believe this show of
                    support has real benefits in helping recovery.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-primary">#hope</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="
                      icon icon-shape icon-shape-success
                      rounded-circle
                      mb-4
                    "
                  >
                    <i class="ni ni-umbrella-13"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Financial Support</h6>
                  <p class="description mt-3">
                    We know the financial burden these events have on the
                    family. Medical expenses are absolutely ridiculous these
                    days. We hope the money raised will help a little with so
                    many unexpected expenses.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-success">#hope</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="
                      icon icon-shape icon-shape-warning
                      rounded-circle
                      mb-4
                    "
                  >
                    <i class="ni ni-support-16"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Family & Friends</h6>
                  <p class="description mt-3">
                    The caregiver team has so much on their minds and at the
                    same time, your friends and family want to help. The number
                    of requests "what can we do to help" can become difficult to
                    answer. We provide an answer to that question.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-danger">#hope</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- new-section -->

  <!-- <section #target class="section section-lg pt-lg-0 marginton">
    <div class="container">
      <div class="row justify-content-center">
        <div class="card py-5 col-md-6">
          "It has been my experience in working with clients from a variety of
          backgrounds, from children to adults, that having a strong support
          system is one of the main factors in a person's resilience, recovery,
          and overall mental and physical health...
        </div>
        <div class="col-md-6">test</div>
      </div>
    </div>
  </section> -->

  <section class="section section-lg pt-lg-0 marginton">
    <iframe
      id="JotFormIFrame-210534276885058"
      title="Donation Store"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allowfullscreen="true"
      allow="geolocation; microphone; camera"
      src="https://form.jotform.com/210534276885058"
      frameborder="0"
      style="min-width: 100%; height: 539px; border: none"
      scrolling="no"
    >
    </iframe>
    <script type="text/javascript">
      var ifr = document.getElementById("JotFormIFrame-210534276885058");
      if (ifr) {
        var src = ifr.src;
        var iframeParams = [];
        if (window.location.href && window.location.href.indexOf("?") > -1) {
          iframeParams = iframeParams.concat(
            window.location.href
              .substr(window.location.href.indexOf("?") + 1)
              .split("&")
          );
        }
        if (src && src.indexOf("?") > -1) {
          iframeParams = iframeParams.concat(
            src.substr(src.indexOf("?") + 1).split("&")
          );
          src = src.substr(0, src.indexOf("?"));
        }
        iframeParams.push("isIframeEmbed=1");
        ifr.src = src + "?" + iframeParams.join("&");
      }
      window.handleIFrameMessage = function (e) {
        if (typeof e.data === "object") {
          return;
        }
        var args = e.data.split(":");
        if (args.length > 2) {
          iframe = document.getElementById(
            "JotFormIFrame-" + args[args.length - 1]
          );
        } else {
          iframe = document.getElementById("JotFormIFrame");
        }
        if (!iframe) {
          return;
        }
        switch (args[0]) {
          case "scrollIntoView":
            iframe.scrollIntoView();
            break;
          case "setHeight":
            iframe.style.height = args[1] + "px";
            break;
          case "collapseErrorPage":
            if (iframe.clientHeight > window.innerHeight) {
              iframe.style.height = window.innerHeight + "px";
            }
            break;
          case "reloadPage":
            window.location.reload();
            break;
          case "loadScript":
            if (!window.isPermitted(e.origin, ["jotform.com", "jotform.pro"])) {
              break;
            }
            var src = args[1];
            if (args.length > 3) {
              src = args[1] + ":" + args[2];
            }
            var script = document.createElement("script");
            script.src = src;
            script.type = "text/javascript";
            document.body.appendChild(script);
            break;
          case "exitFullscreen":
            if (window.document.exitFullscreen)
              window.document.exitFullscreen();
            else if (window.document.mozCancelFullScreen)
              window.document.mozCancelFullScreen();
            else if (window.document.mozCancelFullscreen)
              window.document.mozCancelFullScreen();
            else if (window.document.webkitExitFullscreen)
              window.document.webkitExitFullscreen();
            else if (window.document.msExitFullscreen)
              window.document.msExitFullscreen();
            break;
        }
        var isJotForm = e.origin.indexOf("jotform") > -1 ? true : false;
        if (
          isJotForm &&
          "contentWindow" in iframe &&
          "postMessage" in iframe.contentWindow
        ) {
          var urls = {
            docurl: encodeURIComponent(document.URL),
            referrer: encodeURIComponent(document.referrer),
          };
          iframe.contentWindow.postMessage(
            JSON.stringify({ type: "urls", value: urls }),
            "*"
          );
        }
      };
      window.isPermitted = function (originUrl, whitelisted_domains) {
        var url = document.createElement("a");
        url.href = originUrl;
        var hostname = url.hostname;
        var result = false;
        if (typeof hostname !== "undefined") {
          whitelisted_domains.forEach(function (element) {
            if (
              hostname.slice(-1 * element.length - 1) === ".".concat(element) ||
              hostname === element
            ) {
              result = true;
            }
          });
          return result;
        }
      };
      if (window.addEventListener) {
        window.addEventListener("message", handleIFrameMessage, false);
      } else if (window.attachEvent) {
        window.attachEvent("onmessage", handleIFrameMessage);
      }
    </script>
  </section>
</main>
